{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher['picture'] }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher['name'] }}</h1>
              <p>
                {% for goal in teacher['goals'] %}
                  <span class="badge badge-secondary mr-2">{{ goals[goal] }}</span>
                {% endfor %}
                <br>
                Рейтинг: {{ teacher['rating'] }} Ставка: {{ teacher['price'] }} / час
              </p>
              <p>{{ teacher['about'] }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

              {% for day, desc in week.items() %}
                <h6 class="mt-4">{{ desc }}</h6>
                {% if days[day] == 0 %}
                  <p>Нет свободных уроков</p>
                {% else %}
                  {% for time, value in teacher['free'][day].items() %}
                    {% if value == True %}
                      <a href="/booking/{{ id }}/{{ day }}/{{ time[:-3] }}/" class="btn btn-outline-success m-1">{{ time }} свободно</a>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}

            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}